<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="3" name="Suite" parallel="methods">
  <test thread-count="3" name="Test" parallel="methods">
    <classes>
      <class name="in.licious.test.ExoticMeatCategory_Regression"/>
      <class name="in.licious.test.FishAndSeaFoodCategory_Regression"/>
      <class name="in.licious.test.EggsCategory_Regression"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
